.font1{
    font-family: monospace;
    font-style: italic;
    font-size: 18px;
    text-align: justify;
}

.font2{
    font-size: 20px;
    text-decoration: underline;
    word-spacing: 12px;

    
}

.font3{
    font-weight: 800;
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: normal;
    line-height: 25px;
    text-indent: 40px;
    text-shadow: 2px 5px 10px blue;
}
